* {
    margin: 0;
    padding: 0;
    outline: 0;
    
}


a {
    text-decoration: none;
}

.clear {
    overflow: hidden;
}
.full-container{
    width:100%
}

.container {
    margin: 0 auto;
    width:1200px;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: 'Rubik', sans-serif;
    te
}

/* header part start */
.header-bg {}

.header-volume {
    height: 75px;

}

.logo-volume {
    width: 450px;
    float: left;
}

.logo-volume h1 {
    margin-top: 15px;
    color: yellow;
    font-size: 35px;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: sans-serif;

}

.menu-volume {
    width: 750px;
    float: right;
    width: 750px;
    float: right;
    margin-top: 22px;
    font-size: 23px;

}

.menu-volume a {
    float: left;
    color: rgb(255, 255, 255);
    margin-left: 100px;
    font-family: 'Rubik', sans-serif;


}

.menu-volume a:hover {
    color: yellow;
    border-bottom: 3px solid yellow;

}




/* header part end */
/* banner part start */
.banner-volume {
    height: auto;
    
    
}

.banner-right-volume {
    width: 700px;
    float: right;

}

.banner-right-volume img {
    float: right;
    height: 500px;
    margin-top: 80px;
}

.banner-left-volume {
    width: 500px;
    float: left;

}

.banner-left-volume h5 {
    color: yellow;
    margin-top: 120px;
    letter-spacing: 3px;

}

.banner-left-volume h1 {
    color: yellow;
    font-size: 60px;
    margin-bottom: 15px;
}

.banner-left-volume p {
    color: rgb(255, 255, 255);
    margin-top: 20px;

}

.link-button {
    display: inline-block;
    padding: 15px 45px;
    margin-top: 45px;
    letter-spacing: 5px;
    
    border-radius: 8px;
    color: black;
    
    background: rgb(0, 0, 0);
background: linear-gradient(90deg,yellow 10%, rgb(202, 255, 9) 50%, yellow 100%);

}

.link-button:hover {
    color: rgb(20, 182, 14);
    
}




/* banner part end */
/* about part start */

.about-bg {}

.about-volume {
    height: auto;

    
}

.about-left {
    width: 600px;
    float: left;
}

.about-left img {
    height: 300px;
    margin-top: 120px;
    box-shadow: 0px 10px 20px yellow;
}


.about-right {
    width: 500px;
    float: right;
}

.about-right h1 {
    color: rgb(251, 255, 8);
    margin-top: 120px;
    letter-spacing: 3px;
}

.address {
    color: rgb(255, 255, 255);
    margin-top: 15px;
    line-height: 28px;
}

/* about part end */
/* resume part start */
.resume-volume{
    height: auto;

}

.resume-top {
    width: 100%;

}

.resume-top h1 {
    color: rgb(251, 255, 0);
    text-align: center;
    margin-top: 120px;
    text-shadow: 0px 15px 0px rgb(100, 97, 97);
    fon
}

.resume-top p {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 30px;
    text-transform: capitalize;

}

.resume-bottom-left {
    width: 500px;
    float: left;
    background-color: rgb(37, 37, 37);
    margin-top: 50px;
    margin-bottom: 50px;
    border-left: 5px solid rgb(216, 253, 6);
box-shadow: 0px 10px 20px yellow;
}

.resume-bottom-left h1 {
    color: rgb(255, 255, 255);
    padding: 15px 25px;
}

.resume-bottom-left p {
    color: aliceblue;
    padding: 15px 25px;
}

.resume-bottom-right {
    width: 500px;
    float: right;
box-shadow: 0px 10px 20px yellow;
    background-color: rgb(37, 37, 37);
    margin-top: 50px;
    margin-bottom: 50px;
    border-left: 5px solid rgb(234, 255, 8);

}

.resume-bottom-right h1 {
    color: rgb(255, 255, 255);
    padding: 15px 25px;
}

.resume-bottom-right p {
    color: aliceblue;
    padding: 15px 25px;
}











/* resume part end  */
/* portfolio part start */




/* portfolio part end  */
/* contact part start */






/* contact part end  */
/* <!-- footer part start --> */