* {
    margin: 0;
    padding: 0;
    outline: 0;

}

a {
    text-decoration: none;
}

.clear {
    overflow: hidden;
}

.full-container {
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

body {
    background-color: black;
    font-family: 'Rubik', sans-serif;
    te

}

/* header part start */
.header-bg {}

.header-volume {
    height: 75px;
}

.logo-volume {
    width: 450px;
    float: left;
}

.logo-volume h1 {
    margin-top: 15px;
    color: yellow;
    font-size: 35px;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: unset;
}

.menu-volume {
    width: 750px;
    float: right;
    width: 750px;
    float: right;
    margin-top: 22px;
    font-size: 23px;

}

.menu-volume a {
    float: left;
    color: rgb(255, 255, 255);
    margin-left: 100px;
    font-family: 'Rubik', sans-serif;


}

.menu-volume a:hover {
    color: yellow;
    border-bottom: 3px solid yellow;

}




/* header part end */
/* banner part start */
.banner-volume {
    height: auto;
}

.banner-right-volume {
    width: 700px;
    float: right;

}

.banner-right-volume img {
    float: right;
    height: 500px;
    margin-top: 50px;
}

.banner-left-volume {
    width: 500px;
    float: left;
   
}

.banner-left-volume h5 {
    color: yellow;
    margin-top: 100px;

}

.banner-left-volume h1 {
    color: yellow;
    font-size: 60px;
}

.banner-left-volume p {
    color: rgb(255, 255, 255);

}

.link-button{
    padding: 15px 45px;
    margin-top: 15px;
    letter-spacing: 5px;
    background-color: yellow;
    border-radius: 8px;
}









/* banner part end */
/* about part start */

/* about part end */
/* portfolio part start */




/* portfolio part end  */
/* resume part start */




/* resume part end  */
/* contact part start */






/* contact part end  */
/* <!-- footer part start --> */